@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome</h1>

<div>
    <p>
        Would you like to search for an activity?
    </p>
</div>
<form asp-controller="Home" asp-action="ListActivities">
    <p>
        <input id="Search" type="submit" value="Search activity" class="btn btn-outline-success" />
    </p>
</form>
