@model List<string>
@{
	ViewData["Title"] = "ListActivities";
}

<h2>Choose activities</h2>

@using (Html.BeginForm(new { action = "ListPlaces" }))
{
	<table>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					<input type="checkbox" name="choosenPlaces" id=@item value=@item />
				</td>
				<td>
					@Html.DisplayFor(modelItem => item)
				</td>
			</tr>
		}
	</table>
	<input type="submit" value="Search" />
}

