
@{
    ViewData["Title"] = "MainPage";
}

<h1>Welcome</h1>

<div>
    <p>
        Would you like to search for an activity? 
    </p>
</div>

<input id="Search" type="submit" value="Search activity" class="btn btn-outline-success"/>